<nav class="navbar">
  <ul class="nav">
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/cars" routerLinkActive="active">Cars</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Login</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/register">Register</a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <a routerLink="/account">My Account</a> 
    </li>
    
    <li *ngIf="authService.isLoggedIn()">
      <a (click)="logout()" style="cursor:pointer;">Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
